@import "tailwindcss";

body{
    overflow-x: hidden;
}

.b{
    border-bottom: 1px solid rgb(179, 179, 179);
}

button{
    cursor: pointer !important;
}

.bord{
    border: 1px solid gray;
}

.bg{
    background-color: #515151;
}

.bgg{
    background-color: #E4E4E4;
}